extends layout

block content
  img(src="images/beowulf-node-server-banner-2.png")
  p
    img(src="images/beowulf-suite-graphic-2.png")
  br
  br
  br
  hr
  br
  br
  h1 Welcome to #{title}
  H3 Version: #{version}
  p The Local application server is the backbone to the suite of prototype products for SiteHands X Application Sandbox Suite.
  p This is a test system to ensure the language and processes are in place to be able to build out the next generation of SiteHands products.
  p Leveraging the latest in language and methods by Google, Facebook and Amazon.
  p For questions or a walk-through on the processes and systems used to build BeoWulf please contact
  p Raymond Bayly
  p Chief UI Architect
  p rbayly@sitehands.com | 803.620.5705
  H2 Documentation Pages
  br
  br
  
  p <a href="/postman">Postman Instructions</a> | <a href="/version">Notes for #{version} release</a>
  br
  br
  hr
  br
  br
  p #{copyright}
