extends layout

block content
  img(src="https://github.com/raymondwbayly/beowulf-assets/blob/master/img/pub/beowulf-node-server-banner-2.png?raw=true")
  p
    img(src="https://github.com/raymondwbayly/beowulf-assets/blob/master/img/pub/beowulf-suite-graphic.png?raw=true")
  p
  p Welcome to #{title}
